<html>
	<head>
		<link href="ссылка на внешние стили" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="body">
			<div id="header">
				<br/>
				<div class="logo">
					<a href="ссылка на сайт">
						<img border="0" src="ссылка на картинку">
					</a>
				</div>
			</div>	
			<div id="content">
				<div>
					<br/>
					<div>
						<div style="border-bottom: 1px dotted #C0C0C0;"></div>
					</div>
					<br/>
					<div id="page-body" class="block-spacer">
						<div class="block-spacer">
							<div>Hello #{user.firstName}  #{user.lastName}, </div>
						<br/><div>Текст.....</div>
						<br/>
						<div>Текст.....</div>
						<br/>
						<div style="color: red;">Текст.....</div>
						<br/><div> Activation Link: </div>
						<br/><div><a href="#{baseURL}/email-confirmation/#{user.id}">#{baseURL}/email-confirmation/#{user.id}</a></div>
						<br/>
						<br/><br/><div>  If you experience any problems, please contact: почта..... </div>
						</div>
					</div>
				</div>
			</div>
			<div class="curved-10 shadow-main" id="footer">			
				<br/>
				<div class="footer-copyright">
					<div class="footer-spacer">Текст.....</div>
					<div class="footer-spacer">
						<div>Copyright &copy; 2013 Текст.....</div>
					</div>
				</div>
			</div>
	</body>
</html>