<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  </head>
  <body style="margin: 20px;">
    <div style="background-color: #F0F0F0; border-radius: 10px; padding: 30px; width: 460px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <a href="https://laform-client.herokuapp.com" style="text-decoration: none;">
        <img src="https://laforme.ru/wp-content/uploads/2020/06/LaForme_Patterns_-_Logo.png" height="50px">
        <span style=" color:#2f2a2c; font-size:24px; font-weight:600;  vertical-align: 15px;">La`forme Patterns</span>
      </a>
      <div style="line-height: 1.5; font-size: 14px; font-family: 'Golos Text', sans-serif; color: #5F5B5D; margin-top: 35px;">
        <div>Здравствуйте, <b>!{fullName}</b>, Ваш текуший статус заказа - <b>!{status}</b></div>
        <hr />
        <span style="color: #2F2A2C; font-size: 16px; font-weight:600;">Товары:</span>
        <div style="margin-top: 20px;">
        each product in purchasedProducts
          case product.type
            when 0
              <div>
                <a style="color: #2F2A2C; text-decoration: none;" href="https://laform-client.herokuapp.com/purchases/master-class/#{product.id}">
                  <img width="50px" src="#{product.masterClassId.images[0].fileUrl}" height="50px">
                  <span style="color: #2F2A2C; vertical-align: 15px;"><b>!{product.masterClassId.titleRu}</b></span>
                </a>
                <div>Количество: <b>1</b></div>
                <div>Категория товара: <b>Мастер-класс</b></div>
                <div>Тип товара: <b>Электронный</b></div>
                <div>Ссылка на товар:
                  <a href="https://laform-client.herokuapp.com/purchases/master-class/#{product.id}" style="color: #5F5B5D;">
                    <b>Ссылка</b>
                  </a>
                </div>
                <hr />
                </div>
            when 1
              <div>
                <a style="color: #2F2A2C; text-decoration: none;" href="https://laform-client.herokuapp.com/purchases/pattern/#{product.id}">
                  <img width="50px" src="#{product.patternProductId.images[0].fileUrl}" height="50px">
                  <span style="color: #2F2A2C; vertical-align: 15px;"><b>!{product.patternProductId.titleRu}</b></span>
                </a>
                <div>Количество: <b>1</b></div>
                <div>Категория товара: <b>Электронная выкройка</b></div>
                <div>Тип товара: <b>Электронный</b></div>
                <div>Ссылка на товар:
              if product.optionId === null
                <a href="#{product.patternProductId.filePdf.fileUrl}" style="color: #5F5B5D;">
                  <b>Ссылка</b>
                </a>
              else
                <a href="#{product.optionId.filePdf.fileUrl}" style="color: #5F5B5D;">
                  <b>Ссылка</b>
                </a>
                </div>
                <hr />
              </div>
            when 2
              <div>
                <a style="color: #2F2A2C; text-decoration: none;" href="https://laform-client.herokuapp.com/purchases/pattern/#{product.id}">
                  <img width="50px" src="!{product.patternProductId.images[0].fileUrl}" height="50px">
                  <span style="color: #2F2A2C; vertical-align: 15px;"><b>!{product.patternProductId.titleRu}</b></span>
                </a>
                <div>Количество: <b>!{product.totalCount}</b></div>
                <div>Категория товара: <b>Печатная выкройка</b></div>
                <div>Тип товара: <b>Печатный</b></div>
                <div>Статус товара: <b><span style="color: green;">!{status}</span></b></div>
                <hr />
              </div>
            when 3
              <div>
                <a style="color: #2F2A2C; text-decoration: none;" href="https://laform-client.herokuapp.com/purchases/sewing-good/#{product.id}">
                  <img width="50px" src="!{product.sewingProductId.images[0].fileUrl}" height="50px">
                  <span style="color: #2F2A2C; vertical-align: 15px;"><b>!{product.sewingProductId.titleRu}</b></span>
                </a>
                <div>Количество: <b>!{product.totalCount} !{product.totalLength}</b></div>
                <div>Категория товара: <b>Товар для шитья</b></div>
                <div>Статус товара: <b><span style="color: green;">!{status}</span></b></div>
                <hr />
              </div>
        </div>
    </div>
  </body>
</html>